* { 
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    color:#545454;
    font-family: sans-serif; 
    display: flex; /*center in the page */
    justify-content: center;
}
.container {
    background-color: #14BDAC;
    margin-top: 50px;
    padding: 50px;
    border-radius: 25px;
}
.title{ 
    text-align: center;
}
.title span{
    color: #f2ebd3;
}
.status-action{
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content: space-around; /*making a space between those 2 textes*/
    height: 30px;
}
.status span {
    color:#f2ebd3;
}
.reset {
    cursor: pointer;
}
.reset:hover{
    color:#f2ebd3 ;
}
.game-grid {
    background-color: #0da192;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 spaces repeated with 1fr*/
    grid-template-rows: repeat(3, 1fr); /*3 spaces repeated with 1fr*/
    grid-gap: 15px;
    margin-top: 50px;
}
.game-cell {
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width:200px;
    cursor:pointer;
    background-color: #14BDAC;

}

.x::before {
    content:"×";
    font-size:200px;
}
.o::before {
    content:"○";
    font-size:200px;
    color:#f2ebd3;
}
@media only screen and (max-width:1024px){
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }
    .game-cell {
        height:150px;
        width:150px;
    }
    .x::before {
        font-size: 150px;
    }
    .o::before {
        font-size: 175;
    }
}

@media only screen and (max-width:540px) {
    .container{
        margin:25px;
        padding: 25px;
    }
    .game-cell {
        height:100px;
        width:100px;
    }
    .x::before {
        font-size: 100px;
    }
    .o::before {
        font-size: 120px;
    }
}